
:-webkit-any-link{
  color: inherit;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: black;
}


/* =============== Horizontal ================= */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 270px;
  height: 100%;
  height: 100vh;
  background: #333;
  color: white;
}

.sidebar .background {
  z-index: 2;
  height: 208px;
  position: absolute;
  width: 100%;
  top: 0;
  background: #333;
}

.content{
  position: relative;
  margin-left: 270px;
  margin-top: 0;
  padding: 0;
}

#coordonnées-div {
  display: block;
}
#coordonnées-expander {
  display: none;
}


.profile img {
  z-index: 3;
  width: 160px;
  height: 160px;
  border: solid white 4px;
  border-radius: 50%;
  margin: 20px;
  position: relative;
  top: 0;
  left: 0;
}


.expand-content {
  display: none;
  z-index:1;
  padding-bottom: 10px;
  width: 80%;
  margin-left: 10%;
  position: absolute;
  top: 0px;
  background: #333;
  border-radius: 20px;
  padding-top: 20px;
  transition: top 1s;
}

/* ==================== Vertical =================== */
@media screen and (max-width: 600px) {
  .sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: min-content;
    background: #333;
    color: white;
  }

  .content {
    margin-left: 0;
    margin-top: 170px;
    width: 100%;
  }
  #coordonnées-div {
    display: none;
  }
  #coordonnées-expander {
    display: block;
    margin-top: 157px;
  }

  .expand-content {
    display: block;

  }
  .profile img {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 125px;
    height: 125px;
  }

  #title_name {
    z-index: 3;
    position: absolute;
    top: 47px;
    font-size: 1.5em;
    text-align: center;
    width: calc(100% - 200px);
    margin-left: 159px;    
  }

}



.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
}

.project {
  background: white;
  padding: 15px;
  width: 300px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.2;
}

.project:hover {
  transform: scale(1.05);
}


h2.title{
  font-size: 1.3em;
  padding: 5px;
  text-align: left;
}

.expander h2 {
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.icon-text .icon{
  width: 40px;
  height: 40px;
  background-size: 100%;
  display: inline-block;
}

.icon-text .text{
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  top: -14px;
  font-size: 1em;
}

.icon-text{
  text-align: left;
  padding-left: 6px;
}